body {
  margin: 0px;
  background-color: #cecbcb;
  font-family: 'Times New Roman', Times, serif;
}

.red-top,
.red-bottom {
  border-top: 5px solid red;
}

.title {
  font-size: 4rem;
}

.bowling-img {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: red;
}

.white-cards {
  background-color: white;
}

.fas {
  color: red;
}

.blur-bowling {
  width: 800px;
  height: 250px;
  object-fit: cover;
}

.dark-text {
  font-weight: 600;
}

.b-white {
  border: 10px solid white;
}